body {
    background-color: #ebf5f1;
    color: #202548;
    /*Change font-family?*/
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #202548;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
}

.navbar ul {
    padding: 0;
    /*What does this do?*/
    list-style: none;
}

.navbar li {
    display: inline;
    padding-right: 20px;
}

.navbar a {
    color: #ebf5f1;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

.grid-container {
    text-align: center;
    padding-top: 10px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.movie-poster {
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.movie-poster img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.movie-poster:hover img {
    transform: scale(1.1);
}

.movie-info {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ebf5f1;
    font-family: 'Gelasio', serif;
    font-size: 14px;
    padding: 15px 15px;
    opacity: 0;
    transition: opacity 0.3s, left 0.3s;
}

.movie-info:hover {
    opacity: 1;
    left: 0;
}

.movie-info h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.movie-info ul {
    list-style: none;
    padding: 0;
}

.movie-info li {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: 0.8;
}

.movie-info p {
    line-height: 1.5;
    margin-bottom: 2em;
    margin-right: 2em;
}


.movie-info h4 {
    margin-bottom: .5em;
}

.cast li {
    display: inline;
    text-align: justify;
}